In [1]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv('med-insurance.csv')
data.shape

(1338, 7)

In [4]:
data.head()

   age     sex   bmi  children smoker     region  expenses
0   19  female  27.9         0    yes  southwest  16884.92
1   18    male  33.8         1     no  southeast   1725.55
2   28    male  33.0         3     no  southeast   4449.46
3   33    male  22.7         0     no  northwest  21984.47
4   32    male  28.9         0     no  northwest   3866.86

### Use Label Encoder to encode Categorical Columns

### Check the Distribution of Expenses Column

### Apply Log Transformation into the Expenses Column

### Apply Splitting

### Apply Standard Scaling

### Apply Linear Regression Model

### Evaluate the Model Performance